$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

@media only screen and (max-width: 1366px) {   
	
    .left-column {
        margin-right: 50px;
    }

   .navigation {
       padding: 0 5px;
   }

   //main

   .main-section {

    .content-flex-wrap {
        min-height: 400px;
        }
   }

   

   //VSTUP

   .vstup-block {

        .page-create-list {
            flex-direction: column;

            li {
                text-align: left;
                border-right: 1px solid $border-color;
                border-bottom: none;
                padding: 30px 25px;
                width: 100%;

                &:last-child {
                    border-bottom: 1px solid $border-color;
                }
            }
        }

        .num-wrap {
            float: left;
            margin-right: 15px;
        }
   }

   //VSTUP END

   //BLOG

   .blog-block {

        .blog-categories {

            ul {

                li {
                    width: auto;
                }
            }

        }

   }

   

   //BLOG END

}