$icon-font-path: '../fonts/';

$border-color: #e2e2e2;
$purple-color: #603673;

//общие стили для всех страниц

.page {

	 .content-list {
        margin-left: -20px;
        margin-bottom: 30px;

        li {
            font-size: 16px;
            line-height: 1.5em;            
            display: flex;
            padding: 10px 0;

            &:before {
                content: "-";
                color: $purple-color;
                display: inline-block;
               margin-right: 15px;              
            }

            a {
                font-size: 16px;
                color: #000;
                text-decoration: underline;
                display: inline-block;
                padding: 0 3px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

	.content-flex-wrap {
        margin-top: 45px;
    }

    .text-block {
        background: transparent;
    }

    .content-form {
        padding: 50px 0;
    }

    .content-input-block {
        margin-bottom: 41px;
    }

    .content-label {
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 10px;

        span {
            font-weight: 100;
        }

        sub {
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
        }
    }

    .content-input {
        width: 100%;
        border: 1px solid #e2e2e2;
        font-size: 16px;
        color: #000;
        padding: 0 15px;
        height: 50px;

        &:focus {
            border: 1px solid #7d4597;
        }

        &.error {
            border: 1px solid #df4848;

            &:focus {
                border: 1px solid #df4848;
            }
        }
    }

    .error-text {
        display: block;
        font-size: 12px;
        color: #df4848;
        margin-top: 10px;
        font-weight: 700;
    }

    .section-item {
       display: flex;
       margin-bottom: 100px;

       &:last-child {
           margin-bottom: 0;
       }
   }

    //checkbox

    .checkbox {
        position: relative;              
        cursor: pointer;  
        display: inline-block;

          &:before {
            transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
            transform: rotate(-45deg) scale(0, 0);
        
            content: "";
    
            position: absolute;
            left: 6px;
            top: 1px;
            z-index: 1;
  
            width: 13px;
            height: 8px;
    
            border: 3px solid #fff; 
            border-top-style: none;
  	        border-right-style: none;
        }
  
        &:checked {
            background: #7d4597;   

            &:before {
                transform: rotate(-45deg) scale(1, 1);
            } 

            &:after {
                background: #7d4597;  
            }
        }
  
        &:after {
            content: "";
            
            position: absolute;
            top: -5px;
            left: 0;
            
            width: 26px;
            height: 23px;
            
            background: #fff;
            border: 1px solid $border-color;     
            
            cursor: pointer;

        }
    }

    .blog-wrap {
         width: 50%;
         padding: 0 47px;
         margin: 40px 0;
     }

     .paging-list {
         list-style: none;
         display: flex;
         justify-content: center;
         height: 129px;
         background: #f6f6f6;
         align-items: center;

         li {   
                      

             a {
                 padding: 0 26px;
                 font-size: 24px;
                 color: #000;
                 cursor: pointer;
                 font-weight: bold;

                 &:hover,
                 &:active {
                    color: $purple-color;
                    text-decoration: none;  
                 }

                 &.page-active {
                    color: $purple-color; 
                }
             }

             &:first-child {

                  a {
                      font-weight: 100;
                  }
             } 

              &:last-child {

                  a {
                      font-weight: 100;
                  }
             }                
         }
     }

     .tags-wrap {
         display: flex;         
     }
}
